*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
1000*
200000
50000
16S.B.ALL/
TarDatasets
OutputFiles
ChosenAlignments*
reformat.fasta
error.fasta
OUTPUT
DATA_OUTPUT
DATA*
FORMAT*
GRAPH_errlen
diameter.out
generatedFiles*
RNASim_OUTPUT
